footer{
    color: $white;
    background: $black2;
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 2px solid $orange;
    p{
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 0.9rem;
        font-weight: bold;
    }
}