header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    z-index: 1000;

    &.fixed {
        .header-main {
            background: $white;
            box-shadow: 0 9px 23px 2px rgba(0, 0, 0, .1);

            .logo {
                img {
                    filter: none !important;
                }
            }

            ul.navbar {
                li {
                    a {
                        color: $orange3;
                        text-shadow: none !important;

                        &:before {
                            background: $orange !important;
                        }
                    }
                }
            }
        }
    }

    .header-main {
        position: relative;
        background: transparent;
        transition: all 0.3s ease;
        border-bottom: 1px solid transparent;
        padding-top: 8px;
        padding-bottom: 6px;

        .logo {
            img {
                width: 130px;
                margin-bottom: -2px;
                filter: brightness(0) invert(1);
                transition: all 0.2s ease;
            }
        }

        @media screen and (max-width : 780px) {
            background: $white;
            box-shadow: 0 9px 23px 2px rgba(0, 0, 0, .1);
            height: 72px !important;
            padding-top: 2px !important;
            padding-bottom: 2px !important;
            .logo{
                img{
                    width: 115px !important;
                    filter: none !important;
                }
            }
            ul.navbar{
                display: none !important;
            }
            .col-md-9{
                text-align: right;
            }
            .show-mobile {
                margin-bottom: 0px;
                display: inline-flex !important;
            }
        }

        .show-mobile {
            display: none;
            padding: 10px;
            border-radius: $borderRadius;
            box-shadow : $boxShadow;
            width: 42px;
            height: 42px;
            align-items: center;
            justify-content: center;
            background: $orange;
            color: $white;
            font-size: 18px;
            box-shadow: none !important;
            border: 0px !important;
        }

        ul.navbar {
            display: flex;
            align-items: center;
            padding: 0px;
            list-style: none;
            justify-content: flex-end;

            li {
                padding-left: 25px;
                padding-right: 25px;

                &:last-child {
                    padding-right: 0px;
                }

                &:first-child {
                    padding-left: 0px;
                }

                a {
                    display: block;
                    position: relative;
                    font-size: 1.1rem;
                    text-transform: uppercase;
                    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
                    letter-spacing: 1px;
                    font-weight: 900;
                    padding-top: 7px;
                    padding-bottom: 7px;
                    color: $white;
                    transition: all 0.3s ease;

                    &:hover {
                        &:before {
                            width: 25px !important;
                            opacity: 1;
                        }
                    }

                    &:before {
                        opacity: 0px;
                        content: "";
                        width: 0px;
                        height: 2px;
                        border-radius: 30px;
                        background: $white;
                        position: absolute;
                        z-index: 1;
                        bottom: 0px;
                        left: 0px;
                        transition: all 0.3s ease;
                    }
                }
            }
        }
    }
}

menu {

    @media screen and (max-width : 780px) {
        width: 80% !important;

        .btn-close {
            margin-left: auto;
            margin-right: 26px;
            display: block;
        }

        .list-menu {
            li {
                a {
                    padding-left: 26px !important;
                    font-size: 15px !important;
                }
            }
        }

        .list-redes,
        p {
            left: 26px !important;
        }
    }

    position: fixed;
    top: 0px;
    right: 0;
    margin: 0px;
    z-index: 10000000;
    width: 40%;
    height: 100%;
    padding: 0px;
    background: $orange;
    padding-top: 30px;
    padding-bottom: 120px;
    opacity: 0;
    text-align: center;
    overflow-y: auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    transition: all .25s linear;

    .list-menu {
        margin: 0px;
        padding: 0px;
        margin-top: 15px;

        li {
            a {
                text-decoration: none !important;

                text-transform: uppercase;
                display: block !important;
                padding-left: 40px;
                padding-top: 12px;
                padding-bottom: 12px;
                border-bottom: 1px solid $orange3;
                margin: 0px !important;
                font-size: 18px;
                letter-spacing: 2px;
                font-weight: 600;
                text-align: left;
                color: $white;
                position: relative;
                transition: all 0.3s ease;

                &:focus,
                &:hover {
                    background: $orange;
                    color: $black2;
                }
            }
        }
    }

    .btn-close {
        background: transparent;
        padding: 0px;
        font-size: 35px;
        color: $white;
        margin-bottom: 10px;
        border: 0px;
        box-shadow: none !important;
        cursor: pointer;
    }

    .list-redes {
        display: flex;
        position: absolute;
        bottom: 40px;
        margin-bottom: 0px;
        padding: 0px;
        left: 40px;
        list-style: none;
        z-index: 1;

        li {
            margin-right: 20px;

            a {
                font-size: 32px;
                color: $white;
            }

            &:last-child {
                margin-right: 0px;
            }
        }
    }

    p {
        bottom: 15px;
        color: $white;
        font-size: 14px;
        position: absolute;
        left: 40px;
    }
}


.menu-active {
    overflow: hidden !important;

    body {
        overflow: hidden !important;
    }
}

header,
main {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    transition: all .25s linear;
}

/*
   Com a classe menu-active na tag HTML
*/
.menu-active menu {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}