html {
  font-size: 16px;
  line-height: 21px; }

body,
p {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.2em; }

h1, .h1, #typed {
  font-family: 'Raleway', sans-serif;
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 4.2rem;
  font-weight: 700; }

h2, .h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.4em;
  line-height: 1.2125em;
  font-weight: 700; }

h3, .h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.8em;
  line-height: 1.8em; }

h4, .h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  line-height: 1.2em; }

h5, .h5 {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.3em; }

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  z-index: 1000; }
  header.fixed .header-main {
    background: #fff;
    box-shadow: 0 9px 23px 2px rgba(0, 0, 0, 0.1); }
    header.fixed .header-main .logo img {
      filter: none !important; }
    header.fixed .header-main ul.navbar li a {
      color: #FF7347;
      text-shadow: none !important; }
      header.fixed .header-main ul.navbar li a:before {
        background: #fd400f !important; }
  header .header-main {
    position: relative;
    background: transparent;
    transition: all 0.3s ease;
    border-bottom: 1px solid transparent;
    padding-top: 8px;
    padding-bottom: 6px; }
    header .header-main .logo img {
      width: 130px;
      margin-bottom: -2px;
      filter: brightness(0) invert(1);
      transition: all 0.2s ease; }
    header .header-main ul.navbar {
      display: flex;
      align-items: center;
      padding: 0px;
      list-style: none;
      justify-content: flex-end; }
      header .header-main ul.navbar li {
        padding-left: 25px;
        padding-right: 25px; }
        header .header-main ul.navbar li:last-child {
          padding-right: 0px; }
        header .header-main ul.navbar li:first-child {
          padding-left: 0px; }
        header .header-main ul.navbar li a {
          display: block;
          position: relative;
          font-size: 1.1rem;
          text-transform: uppercase;
          text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
          letter-spacing: 1px;
          font-weight: 900;
          padding-top: 7px;
          padding-bottom: 7px;
          color: #fff;
          transition: all 0.3s ease; }
          header .header-main ul.navbar li a:hover:before {
            width: 25px !important;
            opacity: 1; }
          header .header-main ul.navbar li a:before {
            opacity: 0px;
            content: "";
            width: 0px;
            height: 2px;
            border-radius: 30px;
            background: #fff;
            position: absolute;
            z-index: 1;
            bottom: 0px;
            left: 0px;
            transition: all 0.3s ease; }

menu {
  position: fixed;
  top: 0px;
  right: 0;
  margin: 0px;
  z-index: 10000000;
  width: 40%;
  height: 100%;
  padding: 0px;
  background: #fd400f;
  padding-top: 30px;
  padding-bottom: 120px;
  opacity: 0;
  text-align: center;
  overflow-y: auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  -ms-transition: all .25s linear;
  transition: all .25s linear; }
  @media screen and (max-width: 780px) {
    menu {
      width: 80% !important; }
      menu .btn-close {
        margin-left: auto;
        margin-right: 26px;
        display: block; }
      menu .list-menu li a {
        padding-left: 26px !important;
        font-size: 15px !important; }
      menu .list-redes,
      menu p {
        left: 26px !important; } }
  menu .list-menu {
    margin: 0px;
    padding: 0px;
    margin-top: 15px; }
    menu .list-menu li a {
      text-decoration: none !important;
      text-transform: uppercase;
      display: block !important;
      padding-left: 40px;
      padding-top: 12px;
      padding-bottom: 12px;
      margin: 0px !important;
      font-size: 18px;
      letter-spacing: 2px;
      font-weight: 600;
      text-align: left;
      color: #fff;
      position: relative;
      transition: all 0.3s ease; }
      menu .list-menu li a:focus, menu .list-menu li a:hover {
        background: #fd400f;
        color: #393939; }
  menu .btn-close {
    background: transparent;
    padding: 0px;
    font-size: 35px;
    color: #fff;
    margin-bottom: 10px;
    border: 0px;
    box-shadow: none !important;
    cursor: pointer; }
  menu .list-redes {
    display: flex;
    position: absolute;
    bottom: 40px;
    margin-bottom: 0px;
    padding: 0px;
    left: 40px;
    list-style: none;
    z-index: 1; }
    menu .list-redes li {
      margin-right: 20px; }
      menu .list-redes li a {
        font-size: 32px;
        color: #fff; }
      menu .list-redes li:last-child {
        margin-right: 0px; }
  menu p {
    bottom: 15px;
    color: #fff;
    font-size: 14px;
    position: absolute;
    left: 40px; }

.menu-active {
  overflow: hidden !important; }
  .menu-active body {
    overflow: hidden !important; }

header,
main {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  -ms-transition: all .25s linear;
  transition: all .25s linear; }

/*
   Com a classe menu-active na tag HTML
*/
.menu-active menu {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1; }

footer {
  color: #fff;
  background: #393939;
  padding-top: 12px;
  padding-bottom: 12px;
  border-top: 2px solid #fd400f; }
  footer p {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 0.9rem;
    font-weight: bold; }

#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(31, 31, 31, 0.8);
  opacity: 1;
  justify-content: center;
  align-items: center;
  top: 0px;
  z-index: 10000; }
  #loader img {
    width: 160px;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%); }
  #loader h4 {
    position: absolute;
    display: inline-block;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 2px; }
  @media screen and (max-width: 1600px) {
    #loader h4 {
      top: 55% !important; } }

body {
  overflow-x: hidden !important;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ebebeb;
  margin: 0px;
  padding: 0px;
  min-height: 100vh; }

main {
  padding-top: 0px;
  position: relative; }

.pt-section {
  padding-top: 60px; }

.pb-section {
  padding-bottom: 60px; }

@media screen and (max-width: 650px) {
  .pt-section {
    padding-top: 30px !important; }
  .pb-section {
    padding-bottom: 30px !important; } }

a {
  text-decoration: none !important; }

.text-center {
  text-align: center !important; }

section#banner {
  position: relative;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh; }
  section#banner .container {
    position: relative;
    z-index: 1; }
  section#banner:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    opacity: 0.8; }
  section#banner #typed {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 900;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }
  section#banner .typed-cursor {
    font-size: 4rem;
    color: #fff; }
  section#banner .button-scroll {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 13px);
    width: 26px;
    height: 50px;
    border-radius: 15px;
    border: 2px solid #fff;
    cursor: pointer;
    z-index: 9;
    transition: all 1s; }
    section#banner .button-scroll span {
      height: 10px;
      width: 2px;
      position: absolute;
      left: calc(50% - 1px);
      background: #fff;
      -webkit-animation: finger 1.5s infinite alternate;
      -webkit-animation: finger 1.5s infinite;
      animation: finger 1.5s infinite; }

@-webkit-keyframes finger {
  10% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); } }

@keyframes finger {
  10% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); } }

.side {
  padding-right: 40px; }

.title-with-border {
  margin-bottom: 10px; }
  .title-with-border h3 {
    text-transform: uppercase;
    color: #fd400f;
    letter-spacing: 1px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 6px; }
  .title-with-border img {
    width: 170px; }

.box-white {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 6px;
  padding: 25px;
  text-align: justify; }

video {
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

section.bg-white {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #fff;
  border-bottom: 1px solid #d7d7d7;
  border-top: 1px solid #d7d7d7; }

section#gallery .my-slider {
  margin-bottom: -4px; }
  section#gallery .my-slider a {
    display: block;
    position: relative;
    position: relative; }
    section#gallery .my-slider a:hover:before {
      opacity: 0.82 !important; }
    section#gallery .my-slider a:before {
      opacity: 0;
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      transition: all 0.3s ease;
      background-color: #FBAB7E;
      background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%); }

.tns-controls button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: transparent;
  color: #fff;
  font-size: 40px;
  border: 0px !important;
  box-shadow: none !important;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  outline: none !important; }
  .tns-controls button:nth-child(1) {
    left: 1.5%; }
  .tns-controls button:nth-child(2) {
    right: 1.5%; }

.list-motivos {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: 20px;
  list-style: none;
  padding: 0px; }
  .list-motivos li {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    width: 33.3333%;
    margin-top: 20px; }
    .list-motivos li i {
      font-size: 2.5rem;
      color: #fd400f; }
    .list-motivos li h5 {
      position: relative;
      margin-top: 20px;
      padding-top: 12px; }
      .list-motivos li h5:before {
        content: "";
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        width: 30px;
        border-radius: 30px;
        height: 3px;
        background: #FF7347; }
