$white: #fff;
$lightGray: #FBFBFB;
$lightGray2 : #D3D3D3;
$gray2 : #EDE8E8;
$red: #de5c49;
$red2 : #FF4650;
$orange : #fd400f;
$orange2 : #f29b12;
$orange3 : #FF7347;
$black: #000;
$black2 : #393939;
$black3 : #222222;
$black4 : #575757;
$black5 : #424242;
$blue : #323650;
$gray : #707070;
$gray3 : #d7d7d7;